<style>
.switch-container {
  font-size: 1.5em;
}
.theme-switch {
  height: 1em;
  width: 1em;
  margin-right: 0.5em;
}
</style> 

<script src="https://kit.fontawesome.com/4f0ac268ab.js" crossorigin="anonymous"></script>

<nav id = "header">
  {% for item in site.data.navigation %}
    <a href="{{ item.link }}" class = "navigation">
      {{ item.name }} &nbsp;&nbsp;&nbsp;&nbsp;
    </a>
  {% endfor %}
</nav>

<div class="switch-container" style="display: flex; flex-flow: column; flex-wrap: wrap; justify-content: center; text-align: center;">
  <a><i class="fa-regular fa-moon theme-switch"></i></a>
</div>

<script>
// Note that this script *must* be defined after the above div.
const toggleSwitch = document.querySelector('.theme-switch');
function switchTheme(e) {
    theme = localStorage.getItem('theme')
    if (theme == "dark") {
        // Switch to light theme.
        document.documentElement.setAttribute('data-theme', 'light');
        toggleSwitch.classList.remove("fa-sun")
        toggleSwitch.classList.add("fa-moon")
        localStorage.setItem('theme', 'light')
    } else {
        // Switch to dark theme.
        document.documentElement.setAttribute('data-theme', 'dark');
        toggleSwitch.classList.remove("fa-moon")
        toggleSwitch.classList.add("fa-sun")
        localStorage.setItem('theme', 'dark')
    }
}
toggleSwitch.addEventListener('click', switchTheme, false);

// Initialize the theme on new page loads.
const currentTheme = localStorage.getItem('theme') || 'light';
document.documentElement.setAttribute('data-theme', currentTheme);
if (currentTheme === 'dark') {
    toggleSwitch.classList.remove("fa-moon")
    toggleSwitch.classList.add("fa-sun")
}

</script>

