:root {
    --link-title-color: #FF968A;
    --title-color: #00B0BA;
    --navigation-color: #74737A;
    --normal-text-color: #1F2833;
    --link-normal-text-color: #97CAEF;
    --background-color: #FFFFFF
}

[data-theme="dark"] {
    --link-title-color: #AC7B7D;
    --title-color: #00B0BA;
    --navigation-color: #A1A6B4;
    --normal-text-color: #F8F8F8;
    --link-normal-text-color: #B4D2E7;
    --background-color: #000000
}
body {
  background-color: var(--background-color);
}
.link_title {
  text-decoration:none;
  font-size: 15pt;
  color: var(--link-title-color);
  font-family: 'Playfair Display';
  margin-bottom: 5px
}
.title {
  color: var(--title-color);
  font_weight: bold;
  font-family: 'Playfair Display';
  font-size: 18pt;
  padding-bottom: 10px;
}
.navigation {
  text-decoration:none;
  font-size: 12pt;
  color: var(--navigation-color);
  font-family: 'Playfair Display';
  padding: 10px;
}
.navigation-container {
  flex: 1 1 auto;
}
.normal_text {
  color: var(--normal-text-color);
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 11pt
}
.link_normal_text {
  font-size: 11pt;
  color: var(--link-normal-text-color);
  font-family: 'Helvetica', 'Arial', sans-serif;
}
.article_title {
  text-decoration:none;
  font-size: 20pt;
  color: var(--title-color);
  font-family: 'Playfair Display';
  padding-bottom: 10px;
}
#header {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 300px;
  margin-right: 300px;
  display: flex;
}
center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
#page_margin {
  margin-top: 80px;
  margin-bottom: 25px;
  margin-left: 300px;
  margin-right: 300px;
}
ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
}  
body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: var(--normal-text-color);
  font-size: 11pt;
}
a {
  color: var(--link-normal-text-color);
  text-decoration: none;
  }

section {
  max-width: 68%;
  margin: 0 auto;
}
.post-meta {
  font-size: 1rem;
  font-style: italic;
  display: block;
  margin-bottom: 4vh;
  color: var(--secondary-color);
}
em {
  margin-left: 10px;
  font-size: 1rem;
}
.site-nav-container {
  flex: 1 0 auto;
}
.dark-mode-switch-container {
  flex: 0 0 auto;
  display: flex;
  flex-flow: row;
  align-content: flex-end;
  font-size: 1.5em;
}
.theme-switch {
  height: 1em;
  width: 1em;
  margin-right: 0.5em;
}
