.link_title {
  text-decoration:none;
  font-size: 15pt;
  color: #FF968A;
  font-family: 'Playfair Display';
  margin-bottom: 5px
}
.title {
  color: #00B0BA;
  font_weight: bold;
  font-family: 'Playfair Display';
  font-size: 18pt;
  padding-bottom: 10px;
}
.navigation {
  text-decoration:none;
  font-size: 12pt;
  color: #74737A;
  font-family: 'Playfair Display';
  padding: 5px;
  text-align: center
}
.normal_text {
  color: #1F2833;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 11pt
}
.link_normal_text {
  font-size: 11pt;
  color: #97CAEF;
  font-family: 'Helvetica', 'Arial', sans-serif;
}
.article_title {
  text-decoration:none;
  font-size: 20pt;
  color: #00B0BA;
  font-family: 'Playfair Display';
  padding-bottom: 10px;
}
#header {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
#page_margin {
  margin-top: 80px;
  margin-bottom: 25px;
  margin-left: 300px;
  margin-right: 300px;
}
ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
}  
:root {
    --link-title-color: #FF968A;
    --title-color: #00B0BA;
    --navigation-color: #74737A;
    --normal-text-color: #1F2833;
    --link-normal-color: #97CAEF;
}

[data-theme="dark"] {
    --title-color: #00B0BA;
    --navigation-color: #74737A;
    --normal-text-color: #1F2833;
    --link-normal-color: #97CAEF;
    --heading-color: #818cab;
}
body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: var(--normal-text-color);
  font-size: 11pt;
}
a {
  color: var(--link-normal-text-color);
  text-decoration: none;
  }

section {
  max-width: 68%;
  margin: 0 auto;
}
.post-meta {
  font-size: 1rem;
  font-style: italic;
  display: block;
  margin-bottom: 4vh;
  color: var(--secondary-color);
}
em {
    margin-left: 10px;
    font-size: 1rem;
}
