<!-- Thank you Ethan Swan for letting me borrow your code and -->
<!-- pointing me to Ananya Neogi's post about dark mode switch. -->
<!-- https://dev.to/ananyaneogi/create-a-dark-light-mode-switch-with-css-variables-34l8 -->

<html>
  <script src="https://kit.fontawesome.com/2b9cdc1c9a.js" crossorigin="anonymous"></script>
  <head>
    <meta name="viewport" content="width=device-width" charset="utf-8">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    {% include navigation.html %}
    <div id="page_margin">
	{% if page.title != null and page.is_post != true %}
    	  <div class = "title"> {{page.title}} </div>
	{% endif %}
    	{{ content }}
    </div>
  </body>
</html>
